//
//  Configuration.xcconfig
//  KeepingYouAwake
//
//  Created by Marcel Dierkes on 31.03.15.
//  Copyright (c) 2015 Marcel Dierkes. All rights reserved.
//

MACOSX_DEPLOYMENT_TARGET = 10.10
PRODUCT_BUNDLE_IDENTIFIER = info.marcel-dierkes.KeepingYouAwake

KYA_COPYRIGHT_TEXT = Copyright © 2014 – 2018 Marcel Dierkes. All rights reserved.
KYA_BUNDLE_VERSION = 1.4.4pre
KYA_BUILD_NUMBER = 1040402
