//
//  Configuration.xcconfig
//  KeepingYouAwake
//
//  Created by Marcel Dierkes on 31.03.15.
//  Copyright (c) 2015 Marcel Dierkes. All rights reserved.
//

MACOSX_DEPLOYMENT_TARGET = 10.12
PRODUCT_BUNDLE_IDENTIFIER = info.marcel-dierkes.KeepingYouAwake

MARKETING_VERSION = 1.6.2
CURRENT_PROJECT_VERSION = 1060200

KYA_COPYRIGHT_TEXT = Copyright © 2014 – 2021 Marcel Dierkes. All rights reserved.
KYA_APPCAST_FEED_URL = newmarcel.github.io/KeepingYouAwake/appcast.xml
