//
//  Configuration.xcconfig
//  KeepingYouAwake
//
//  Created by Marcel Dierkes on 31.03.15.
//  Copyright (c) 2015 Marcel Dierkes. All rights reserved.
//

MACOSX_DEPLOYMENT_TARGET = 10.13
PRODUCT_BUNDLE_IDENTIFIER = info.marcel-dierkes.KeepingYouAwake

MARKETING_VERSION = 1.6.7
CURRENT_PROJECT_VERSION = 1060700

GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.utilities
INFOPLIST_KEY_NSPrincipalClass = NSApplication
INFOPLIST_KEY_NSMainNibFile = MainMenu
INFOPLIST_KEY_NSHumanReadableCopyright = Copyright © 2014 – 2025 Marcel Dierkes. All rights reserved.
